html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.colors {
    position: fixed;
}

.color {
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
}

.color.active {
    border-color: orange;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: yellow;
}

.brush {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 24px;
}

.brush .iconfont {
    padding: 0 5px;
    transition: all .3s ease-in-out;
}

.brush .iconfont.active {
    color: red;
}

.clear {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 24px;
}
